.gameplayScreen {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
}

.mat {
    display: flex;
    width: 80%;
    position: relative;
    
}

.mat_image {
    width: 100%;
    height: 100%;
    display: block;
}

/* Hiển thị các player */
.p0_n {
    left: 46%;
    bottom: 5%;
}

.p1_n {    
    top: 5%;
    left: 46%;
}

.p2_4 {
    left: 5%;
    top: 37%
}

.p3_4 {
    right: 5%;
    top: 37%;
}

.p2_6 {
    left: 5%;
    bottom: 15%;
}

.p3_6 {
    right: 5%;
    bottom: 15%;
}

.p4_6 {
    left: 5%;
    top: 15%;
}

.p5_6 {
    right: 5%;
    top: 15%;
}

/* Các nút */
.leave {
    position: absolute;
    width: 5rem;
    height: 2rem;
    border-radius: 2rem;
    font-size: 0.8rem;
    top: 92%;
    left: 3%
    
}

